* {
    margin: 0px;
    bottom: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.clearline:before,
.clearline:after {
  content: "";
  display: table;
}
.clearline:after {
  clear: both;
}
.clearline {
  zoom: 1;
}

body {
    /*-webkit-touch-callout: none;                 prevent callout to copy image, etc when tap to hold */
    /*-webkit-text-size-adjust: none;              prevent webkit from resizing text to fit */
    /*-webkit-user-select: none;                   prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #fff;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.loading{
    width: 100%;
    background: url(../img/loading.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* app */


.warpper-app{
    width: 100%;
}

/* HEADER */

.header{
    padding: 0 90px 0 90px;
    background: #259ddb;
    height: 150px;
    border-bottom: solid 4px #1b90cd;
}

.button{
    width: 44px;
    height: 100%;
    float: left;
}

.button-gril{
    margin-top: 64px;
    z-index: 100;
    background-image: url(../img/gril.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 44px;
}

.title{
    color: #fff;
    text-transform: none;
    font-size: 24px;
    line-height: 64px;
    float: right;
}
