@media screen and (max-width: 1024px) {
    /* HEADER */
    .header{
        height: 142px;
        border-bottom: solid 4px #1b90cd;
    }
}

@media screen and (max-width: 960px) {
    /* HEADER */
    .header{
        height: 135px;
        border-bottom: solid 4px #1b90cd;
    }
}

@media screen and (max-width: 800px) {
    /* HEADER */
    .header{
        height: 111px;
        border-bottom: solid 3px #1b90cd;
    }
}

@media screen and (max-width: 768px) {
    /* HEADER */
    .header{
        height: 106px;
        border-bottom: solid 3px #1b90cd;
    }
}

@media screen and (max-width: 720px) {
    /* HEADER */
    .header{
        height: 106px;
        border-bottom: solid 3px #1b90cd;
    }

    .button-gril{
    	margin-top: 43px;
    	background-image: url(../img/gril720.png);
		width: 29px;
		height: 19px;
    }

	.title{
		line-height: 53px;
    	font-size: 17pt;
    }

	/* block-week */

    .block-week{
    	height: 107px;
    }

	.type-week p{
		line-height: 107px;
	}

	/* block-days */

	.block-days{
    	padding: 0 90px 0 90px;
   	 	margin-top: 19px;
	}

	p.title-day{
		line-height: 95px;
		height: 95px;
	}

	.work{
		min-height: 95px;
	}

	.number-work{
		width: 186px;
	}



}

@media screen and (max-width: 640px) {
    /* HEADER */
    .header{
        height: 88px;
        border-bottom: solid 3px #1b90cd;
    }
}

@media screen and (max-width: 480px) {
    /* HEADER */
    .header{
    	padding: 0 40px 0 40px;
        height: 66px;
        border-bottom: solid 3px #1b90cd;
    }

    .button-gril{
    	margin-top: 28px;
    	background-image: url(../img/gril480.png);
		width: 19px;
		height: 10px;
    }

    .title{
    	font-size: 13pt;
    }

    /* block-week */

    .block-week{
    	height: 72px;
    }

	.type-week p{
		line-height: 72px;
	}

	/* block-days */

	.block-days{
    	padding: 0 40px 0 40px;
   	 	margin-top: 19px;
	}

	p.title-day{
		line-height: 80px;
		height: 80px;
	}

	.work{
		min-height: 80px;
	}

	.number-work{
		width: 125px;
	}

}

